html{
	width: 8.5in;
	height: 11in;
}

body{
	box-sizing: border-box;
	margin: 0.5in 0.5in;
	font-family: "Avenir";
	font-weight: 500;
	font-size: 11px;
	
}

header h1{
	font-family: Gobold;
	font-size: 35px;
	font-weight: 500;
	margin-bottom: 8px;
}

header hr{
	background: #000;
	height: 6px;
	margin-bottom: 15px;
}

hr{
	margin-top:5px;
	margin-bottom: 5px;
}

h1, h2, h3, h4, h5{
	margin-top: 1px;
	margin-bottom: 1px;
	font-family: Gobold;
}

h3{
	font-size: 12px;
}

h5{
	font-size: 12px;
}

section{
	margin-bottom: 10px;
}
.glyphicon{
	margin-right: 10px;
}

.subheader{
	font-family: "Avenir";
	font-weight: bold;
}

section h3{
	width: 20%;
	float: left;
}

.info{
	width: 80%;
	display: inline-block;
}